/* Navbar container styling */
.navbar__container {
  background-color: rgb(169, 221, 242); /* Specific color for the navbar */
  height: 65vh; /* Initial height when collapsed */
  transition: width 0.3s, height 0.3s, margin-top 0.3s; /* Smooth transition for width, height, and margin-top */
  margin-top: 8rem; /* Margin at the top when collapsed */
  
}

.navbar__container.collapsed {
  width: 80px; /* Adjust width as needed */
  height: 65vh; /* Shorter height when collapsed */
  margin-top: 8rem; /* Keep the margin when collapsed */
  border-radius: 15px;
}

.navbar__container:hover {
  width: 300px; /* Expand width on hover */
  height: 100vh; /* Full height when expanded */
  margin-top: 0; /* Remove the margin when expanded */
}

/* Menu bar styling */
.menu-bar {
  background-color: rgb(255, 255, 255); /* Specific color for the navbar */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  position: relative;
  color: rgb(7, 1, 1);
}

/* Additional styling for menu items to ensure text color is white */
.menu-bar .ant-menu-item,
.menu-bar .ant-menu-submenu-title {
  color: #0a0000; /* Set text color */
}

/* Additional styling for menu icons to ensure they inherit the correct color */
.menu-bar .ant-menu-item .anticon,
.menu-bar .ant-menu-submenu-title .anticon {
  color: #080101; /* Set icon color */
}

/* Custom styling for selected menu item */
.menu-bar .ant-menu-item-selected {
  color: #6c72ff; /* Set text color for selected item */
  background-color: transparent !important;
}

/* Custom styling for selected menu item icons */
.menu-bar .ant-menu-item-selected .anticon {
  color: #6c72ff; /* Set icon color for selected item */
}


.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo-expanded {
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.logo-text {
  font-family: 'YourChosenFont', sans-serif; /* Use your chosen font */
  font-size: 24px;
  color: rgb(10, 1, 1);
  padding-top: 1rem;
}

.navbar__container.collapsed .logo__container {
  margin-top: 0.4rem; /* Adjust this value to move the heart icon down */
}

.navbar__container.collapsed .ant-menu-item-selected .anticon,
.navbar__container.collapsed .ant-menu-submenu-title-selected .anticon {
  color: rgb(128, 47, 241); /* Match the navbar background color */
}
